.top {
  z-index: 60;
  &__nav {
    padding: 20px 10px;
    display: flex;
  }
  &__social {
    margin-left: auto;
  }
  &__logo {
    color: $accent;
    margin-right: auto;
    position: fixed;
    left: 4vw;
    font-family: "Brotherhood";
    text-shadow: 1px 1px 1px $bg;
    font-size: 2.4rem;
    line-height: 1;
    transform: rotate(-15deg);
    @media screen and (max-width: $mobile) {
      font-size: 2rem;
    }
  }
  &__menu {
    transition: transform 0.3s;
  }
  &__btn {
    @include glass(10px);
    position: fixed;
    top: 80px;
    left: 2vw;
    z-index: 50;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border: 2px solid $light-blue;
    transform: rotate(0deg);
    transition: transform 0.3s;
    user-select: none;
    display: none;
    @media screen and (max-width: $mobile) {
      display: flex;
    }
    & span {
      @include line;
    }
    &::before,
    &::after {
      position: absolute;
      content: "";
      @include line;
    }
    &::after {
      top: 10px;
    }
    &::before {
      bottom: 10px;
    }
    &.active {
      transform: rotate(-90deg);
    }
  }
}
