$bg: #0c112c;
$bg-section: #131730;
$accent: coral;
$blue-accent: #5ad8ff;

$gold: #f59115;
$text: #c8dfe6;
$blue: #038db7;
$light-blue: #21b4e58c;
$dark-blue: #0b648785;
$gradient: linear-gradient(90deg, $bg-section, $blue, $bg-section);
$transp-black: #0000002a;

// media
$mobileSM: 475px;
$mobile: 600px;
$tablet: 768px;
$desktopSM: 1200px;
$desktopMD: 1366px;
$desktopL: 1920px;
